.banner {
  width: 80vw;
  margin: auto;
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  background-color: #989898;
}

.banner .banner-btn {
  font-family: "Montserrat", sans-serif;
  background-color: #f7941d;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 20px;
  transition: 0.3s;
}

.banner .banner-btn:hover {
  background-color: #e0881c;
}
