.navbar {
  padding: 0 25px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-home {
  width: 70px;
  height: 70px;
  padding: 15px;
  cursor: pointer;
}

.navbar-home img {
  width: 100%;
}

.nav-mobile {
  display: none;
}

.navbar-list {
  display: flex;
}

.navbar-content {
  padding: 5px 10px;
  font-size: 0.875rem;
  color: #8e9eab;
  cursor: pointer;
}

.navbar-content:hover {
  color: black;
  font-weight: 600;
}

.navbar-content:nth-of-type(2),
.navbar-content:nth-of-type(3),
.navbar-content:nth-of-type(4) {
  border-left: 2px solid #8e9eab;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 0;
  }

  .navbar-list {
    display: none;
  }

  .nav-mobile {
    display: block;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-list.menu-open {
    width: 75vw;
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    right: 10px;
    top: 55px;

    border-radius: 5px;
    padding: 10px;
  }

  .navbar-content {
    margin: 20px 0;
  }

  .navbar-content:nth-of-type(2),
  .navbar-content:nth-of-type(3),
  .navbar-content:nth-of-type(4) {
    border: 0;
  }
}
